[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
asgiref = "==3.6.0"
dynaconf = "==3.2.5"
fastapi = "==0.110.1"
minio = "==7.2.8"
uvicorn = "==0.23.2"
httpx = "==0.24.1"

[dev-packages]
pytest = "==7.4.0"

[requires]
python_version = "3.12"
